@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('../fonts/Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-Medium.eot');
	src: local('../Montserrat Medium'), local('Montserrat-Medium'),
		url('../Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-Medium.woff') format('woff'),
		url('../Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-SemiBoldItalic.eot');
	src: local('../Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
		url('../Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-SemiBoldItalic.woff') format('woff'),
		url('../Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('../fonts/Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../Montserrat-ExtraBold.eot');
	src: local('../Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../Montserrat-ExtraBold.woff') format('woff'),
		url('../Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.eot');
	src: local('../fonts/Montserrat Black'), local('Montserrat-Black'),
		url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Black.woff') format('woff'),
		url('../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

